// Home.scss

// Importation des variables personnalisées
@import '../base/variables';

// Section Héro
.hero-section {
    position: relative; // Positionnement relatif pour permettre l'utilisation de la surcouche
    height: 100vh; // Hauteur de la section égale à la hauteur de la fenêtre
    background-size: cover; // Couvrir toute la section avec l'image de fond
    background-position: center center; // Centrer l'image de fond

    h1,
    h2 {
        color: white; // Changer la couleur des titres pour une meilleure ergonomie visuelle
    }

    .overlay {
        background-color: rgba(0, 0, 0, 0.3); // Surcouche sombre pour noircir l'image de fond
        position: absolute; // Positionnement absolu pour couvrir toute la section
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none; // Permettre les clics à travers la surcouche
    }
}

// Section À Propos
.about-section {
    hr {
        border-top: 2px solid $primary-color; // Colorisation de la séparation
    }
}

// Media Queries pour les Images de Fond et les Offsets
@media only screen and (min-width: 0) {
    .hero-section {
        background-image: url('../../images/home/hero-bg-mobile.jpg'); // Image de fond pour les mobiles
    }

    :root {
        --offset-scroll: 2rem; // Définir l'offset pour les mobiles
    }
}

@media only screen and (min-width: 768px) {
    .hero-section {
        background-image: url('../../images/home/hero-bg-tablette.jpg'); // Image de fond pour les tablettes
    }

    :root {
        --offset-scroll: 3rem; // Définir l'offset pour les tablettes
    }
}

@media only screen and (min-width: 992px) {
    .hero-section {
        background-image: url('../../images/home/hero-bg.jpg'); // Image de fond pour les desktops
    }

    :root {
        --offset-scroll: 4rem; // Définir l'offset pour les desktops
    }
}