// LegalNotice.scss

// Importation des variables personnalisées
@use '../base/index' as *;

// Styles du composant
// ...

// Media Queries pour le contenu de la page
@media only screen and (min-width: 0) {
    .legal-notice-page {
        margin-top: 56px; // Offset pour éviter le masquage dû à la barre de navigation
    }
}

@media only screen and (min-width: 768px) {
    .legal-notice-page {
        margin-top: 56px; // Offset pour éviter le masquage dû à la barre de navigation
    }
}

@media only screen and (min-width: 992px) {
    .legal-notice-page {
        margin-top: 72px; // Offset pour éviter le masquage dû à la barre de navigation
    }
}