// Services.scss

// Importation des variables personnalisées
@use '../base/index' as *;

// Styles de la page
.services-page {
    .page-banner {
        height: 150px; // Définir une hauteur pour la bannière 
        background-size: cover; // Assurer que l'image couvre toute la bannière 
        background-position: center; // Centrer l'image 
    }

    .intro-section {
        .separator {
            border: 3px solid $primary-color;
            opacity: 1; // Remplacer l'opacité de base d'un élément <hr /> qui est de 0,25
        }
    }
}

// Media Queries pour le contenu de la page
@media only screen and (min-width: 0) {
    .services-page {
        margin-top: 56px; // Offset pour éviter le masquage dû à la barre de navigation
    }

    .page-banner {
        background-image: url('../../images/shared/banner-mobile.jpg'); // Image de fond pour les mobiles
    }
}

@media only screen and (min-width: 768px) {
    .services-page {
        margin-top: 56px; // Offset pour éviter le masquage dû à la barre de navigation
    }

    .page-banner {
        background-image: url('../../images/shared/banner-tablette.jpg'); // Image de fond pour les tablettes
    }
}

@media only screen and (min-width: 992px) {
    .services-page {
        margin-top: 72px; // Offset pour éviter le masquage dû à la barre de navigation
    }

    .page-banner {
        background-image: url('../../images/shared/banner.jpg'); // Image de fond pour les desktops
    }
}