// Footer.scss

// Importation des variables personnalisées
@use '../base/index' as *;

// Styles pour le pied de page
.footer {
    background-color: $background-color-light; // Définir la couleur de fond du pied de page

    .fab {
        font-size: 1.8rem; // Augmenter la taille des icônes
        color: $text-color; // Définir la couleur des icônes

        &:hover {
            color: $link-hover-light; // Changer la couleur des icônes au survol
        }
    }
}

// Styles pour le bouton de retour en haut
.scroll-top {
    background-color: $background-color--btn-scroll-top; // Définir la couleur de fond du bouton

    &:hover {
        background-color: $link-hover; // Changer la couleur de fond au survol
        color: $text-color; // Changer la couleur du texte au survol
    }
}