// Header.scss

// Importation des variables personnalisées
@use '../base/index' as *;

// Styles pour les liens de navigation
.nav-link {
    color: var(--bs-gray-400); // Couleur du texte du menu normal
    transition: color 0.3s ease, font-weight 0.3s ease; // Transition pour les couleurs et le texte en gras

    &.active {
        color: $title-color !important; // Couleur du menu sélectionné
        font-weight: bold; // Texte en gras pour le menu sélectionné
    }

    &:not(.active):hover {
        color: $link-hover; // Changer la couleur des liens au survol avec transparence
        font-weight: bold; // Texte en gras au survol

        @media only screen and (min-width: 992px) {
            // Cas des grands écrans : Desktops
            background-color: $link-hover-light;
        }
    }
}